<div class="mat-elevation-z8 header-container">
  <span class="page-title"> Dashboard </span>
</div>
<mat-card class="card-layout">
  <mat-card-header>
    <mat-card-title>Material UI Tree View</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="material()" class="tmd-button-blue" mat-button>Material Tree</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-layout">
  <mat-card-header>
    <mat-card-title>Bootstrap Tree View</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="bootstrap()" class="tmd-button-blue" mat-button>Bootstrap Tree</button>
  </mat-card-actions>
</mat-card>
