<div class="mat-elevation-z8 header-container">
  <span class="page-title"> Dashboard </span>
</div>
<mat-card class="card-layout">
  <mat-card-header>
    <mat-card-title>Material UI Tree View</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button class="button" mat-button (click)="material()">Material Tree</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-layout">
  <mat-card-header>
    <mat-card-title>Bootstrap Tree View</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button class="button" mat-button (click)="bootstrap()">Bootstrap Tree</button>
  </mat-card-actions>
</mat-card>
