@import '../../../assets/styles/variables';
@import '../../../assets/styles/common';

.tree-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
}

.tree-layout {
  margin-right: 20px;
}

.client-tree-invisible {
  display: none;
}

.client-tree ul,
.client-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.client-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.client-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.tree-button {
  //font-family: Tahoma, serif;
  min-height: 1.8em !important;
  height: 1.8em;
  color: #1D335C !important;
}

.tree-button:hover {
  min-height: 1.8em !important;
  height: 1.8em;
  color: #F5F5F5 !important;
  background-color: #0548A0;
}

.tree-button-selected {
  min-height: 1.8em !important;
  height: 1.8em;
  color: #F5F5F5 !important;
  background-color: #0548A0;
}

.mat-tree-node {
  min-height: 2em !important;
  height: 2em;
}

// Selection Styles
.selection-layout {
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.selection-title-layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-bottom: 20px;
}

.selection-title {
  font-size: 28px;
}

.new-client-button {
  width: 150px;
  justify-self: end;
  align-self: center;
  border-radius: 5px;
}

.selection-field {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
}

.selection-field-title {
  font-size: 18px;
}

.selection-input {
  height: 30px;
}

.selection-checkbox {
  justify-self: start;
}

.action-section {
  justify-self: end;
}
