<div class="mat-elevation-z8 header-container">
  <span class="page-title"> Material UI Tree </span>
</div>
<div class="button-div">
  <button class="button" mat-button (click)="dashboard()">Return to Dashboard</button>
</div>
<div class="tree-container">
  <div class="tree-layout">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <button mat-button (click)="selectTenant(node.id)" [ngClass]="getTenantButtonClass(node.id)">{{node.name}}</button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <button mat-button (click)="selectClient(node.id)" [ngClass]="getClientButtonClass(node.id)">{{node.name}}</button>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div class="selection-layout mat-elevation-z5" *ngIf="clientSelected">
    {{selectedClient.clientId}}<br>
    {{selectedClient.clientName}}<br>
    {{selectedClient.clientDesc}}
  </div>
  <div class="selection-layout mat-elevation-z5" *ngIf="tenantSelected">
    {{selectedTenant.tenantId}}<br>
    {{selectedTenant.tenantName}}<br>
    {{selectedTenant.tenantDesc}}
  </div>
</div>
