/*** TMD Colors ***/
$tmd-dark-blue: #32353B;
$tmd-normal-blue: #1D335C;
$tmd-mid-blue: #0548A0;
$tmd-mid-blue-opacity: rgba(5, 72, 160, 0.25);
$tmd-light-blue: #61AEE1;
$tmd-lighter-blue: #AFCFEE;
$tmd-dark-cyan: #31849C;
$tmd-light-cyan: #C4E0E9;
$tmd-blue-grey: #88A4C2;
$tmd-dark-grey: #606060;
$tmd-normal-grey: #898D8C;
$tmd-mid-grey: #DFDCDC;
$tmd-light-grey: #F3EEED;
$tmd-white: #F5F5F5;
$tmd-dark-red: #8C1313;
$tmd-normal-red: #CA2B36;
$tmd-normal-red-opacity: rgba(202, 43, 54, 0.25);
$tmd-light-red: #D7889F;
$tmd-purple: #7A2AC2;
$tmd-purple-opacity: rgba(122, 42, 194, 0.25);
$tmd-orange: #E07E44;
$tmd-orange-opacity: rgba(224, 126, 68, 0.25);
$tmd-gold: #DEAF00;
$tmd-gold-opacity: rgba(222, 175, 0, 0.25);
$tmd-light-gold: #E7D8AF;
$tmd-green: #256744;
$tmd-light-green: #C0DDCC;
